*{
  margin: 0px;
  padding: 0px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo{
  position: relative;
  display: block;
  cursor: pointer;
  background: #3B5999;
  padding: 40px;
  border: 2px solid #3B5999;
}

.logo::before{
  content: "";
  display: block;
  width: 25px;
  height: 70px;
  border-radius: 20px 0px 0px 0px;
  border: 13px solid #fff;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: 24px;
}
.logo::after{
  content: "";
  display: block;
  width: 35px;
  height: 10px;
  position: absolute;
  bottom: 30px;
  right: 24px;
  background: #fff;
}
.logo:hover{
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.25), 0px 17px 50px rgba(0, 0, 0, 0.20);
}
